.main-container {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.menu-container {
    box-sizing: border-box;
    margin-top: 50px;
    padding: 65px 0;
    text-align: center;
    width: 600px;
    background-color: #2E8BC0;
    color: white;
    border-radius: 20px;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s ease;
    font-weight: bold;
}

.menu-container:hover {
    background-color: #2e6dc0;
    color: white;
}

.welcome-title {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}

.welcome-sub {
    width: fit-content;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
}

.ref {
    position: absolute;
    bottom: 0;
    left: 10px;

}