/*
================================================================================================================================
    __REL_VEN_SERVICOS__
================================================================================================================================
*/

#corpo_rel {
    width: 80%;
    margin: 50 20 50 20 px;
    background-color: red;
}

#caixa_texto {
    width: 80%;
    margin: 10 0 10 0;
    background-color: purple;
}

/*
================================================================================================================================
    __REL_VEN_AMBULATORIO__
================================================================================================================================
*/